 .home{
   font-family: 'Squada One', cursive;
   background-image: url(../img/pizza.jpg);
   width: 100%;
   height: 100%;
   background-size: 100%;
   color: white;
   background-size: cover;
   padding: 10px;
 }

h1{
  text-shadow: -1px -1px 0 maroon, 1px -1px 0 maroon, -1px 1px 0 maroon, 1px 1px 0 maroon;
  background: maroon;
  width: cover;
  height: 20px;
  font-size: 50px;
}

p {
  color: maroon;
  line-height: 20px;
  border: 5px solid maroon;
  padding: 3px;
  text-align: center;
  background: rgba(255,255,255,.5);
  position: relative; left: 5px;
}

.bottom-right
{
  float: right;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

form {
  background-image: (url(../img/maroon.jpg));
}
